<header></header>
<!-- 
<div class="container mt-5 pb-3">
  <div class="row  ">

    <div class="col-12 col-lg-6">
      <div class="form-container sign-in-container pt-5 pb-5">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h1>Sign in</h1>

          <span>or use your account</span>
          <input formControlName="username" type="email" placeholder="Email" />
          <input formControlName="password" type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button type="submit" class="btn btn-success">Sign In</button>
        </form>
      </div>    </div>
    <div class="col-12 col-lg-6 pt-2">
        <div class="signup pt-5">

            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" routerLink='/register' id="signUp">Sign Up</button>
            
        </div>
  </div>
</div>
</div> -->


<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" formControlName="email" />
            <label class="form-label" for="form1Example13">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" formControlName="password"/>
            <label class="form-label" for="form1Example23" >Password</label>
          </div>

          <!-- <div class="d-flex justify-content-around align-items-center mb-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form1Example3"
                
              />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
          </div> -->

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

         

        </form>

        <div class="btn btn-dark mt-2">
          <a [routerLink]="['/github-login']">Login with Github <i class="fa-brands fa-github"></i></a>
        </div>
        <div>
          <a [routerLink]="['/register']">New Here? Register</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>