<header></header>
<div class="container mt-5 pb-3">
  <div class="row  ">

    <div class="col-12 col-lg-6">
      <div class="form-container sign-in-container pt-5 pb-5">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h1>Sign in</h1>

          <span>or use your account</span>
          <input formControlName="username" type="email" placeholder="Email" />
          <input formControlName="password" type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button type="submit" class="btn btn-success">Sign In</button>
        </form>
      </div>    </div>
    <div class="col-12 col-lg-6 pt-2">
        <div class="signup pt-5">

            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" routerLink='/register' id="signUp">Sign Up</button>
            
        </div>
  </div>
</div>
</div>
<app-footer></app-footer>