<div class="footer">
  <p> &#169; Copyright 2022. All Rights Reserved.</p>
  
 <a href="https://github.com/TejaswiNallavolu/proposal">Proposal 1A</a> &nbsp; &nbsp; &nbsp;
 <a href="https://github.com/TejaswiNallavolu/angular-app-heroku">Frontend</a> &nbsp; &nbsp; &nbsp;
 <a href="https://github.com/TejaswiNallavolu/BackEnd-ClassReminderApp">Backend</a> &nbsp; &nbsp; &nbsp;
 <a href="https://github.com/TejaswiNallavolu/angular-app-heroku/projects/1">Project Board</a> &nbsp; &nbsp; &nbsp;
 <a href="https://github.com/TejaswiNallavolu/angular-app-heroku/wiki">Wiki</a> &nbsp; &nbsp; &nbsp;
 <a href="https://github.com/TejaswiNallavolu/angular-app-heroku/issues">Issues</a> &nbsp; &nbsp; &nbsp;
 <a href="https://app.swaggerhub.com/apis-docs/TejaswiNallavolu/auth-project/v1#/">Swagger</a> &nbsp; &nbsp; &nbsp;
 <a href="https://sonarcloud.io/project/overview?id=com.lapots.breed.judge:judge-rule-engine">Test Report</a> &nbsp; &nbsp; &nbsp;
</div>
